<!-- task-manager/templates/index.html -->

{% extends "layout/base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block main %}
    {% if messages %}
    {% bootstrap_messages %}
    {% endif %}
<h1 class="my-4"></h1>
<h1 class="my-4"></h1>
<div class="card">
  <div class="card-body p-4 bg-light">
    <div class="display-4">{% trans "Task Manager" %}</div>
    <p class="lead">{% trans "Web application for task management" %}</p>
    <hr />
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}">{% trans "Get started" %}</a>
  </div>
</div>

{% endblock main %}
